HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
backend/target/
*.class
*.jar
*.war
*.ear
*.rar

# Enviroment variables
.env
.env.*
!.env.example
!.env.production.example

# Angular e Node.js
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/coverage/
frontend/.cache/
frontend/.nx/
.pnpm-store/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Eclipse e STS
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Logs ###
.log
logs/
*.log

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Arquivos de Swap/Temporários de Editores
*.swp
*.swo
*~
*.bak

DEPLOYMENT.md