<div class="form-field">
  <label class="form-field__label" [for]="controlId()">
    {{ label() }}

    @if (required()) {
      <span aria-hidden="true">*</span>
      <span class="sr-only">obrigatório</span>
    }
  </label>

  <ng-content />

  @if (error()) {
    <p
      class="form-field__error"
      [id]="controlId() + '-error'"
    >
      <span aria-hidden="true">!</span>
      {{ error() }}
    </p>
  } @else if (hint()) {
    <p
      class="form-field__hint"
      [id]="controlId() + '-hint'"
    >
      {{ hint() }}
    </p>
  }
</div>
